vrrp_script chk_haproxy {
	script "killall -0 haproxy"
	interval 2
	weight 2
}

vrrp_instance VIP_API {
	interface br-mgmt
	state MASTER
	virtual_router_id 250
{% for host in groups['load-balancer'] %}
{% if hostvars[host]['ansible_hostname'] == ansible_hostname %}	priority {{ loop.index }}
	vrrp_unicast_bind {{ ansible_br_mgmt['ipv4']['address'] }}
{% endif %}
{% if hostvars[host]['ansible_hostname'] != ansible_hostname %}	vrrp_unicast_peer {{ hostvars[host]['ansible_br_mgmt']['ipv4']['address'] }}
{% endif %}
{% endfor %}
	virtual_ipaddress {
		{{ yaodu_api_vip }}
	}
	track_script {
		chk_haproxy
	}
}
