[DEFAULT]
verbose = true
debug = true

bind_host = {{ ansible_br_mgmt['ipv4']['address'] }}

admin_token = {{ keystone_admin_token }}

public_endpoint = http://{{ yaodu_api_vip }}:5000
admin_endpoint = http://{{ yaodu_api_vip }}:35357

log_file = keystone.log
log_dir = /var/log/keystone/

[database]
connection = mysql://keystone:{{ database_keystone_password }}@{{ yaodu_api_vip }}/keystone

[revoke]
driver = keystone.contrib.revoke.backends.sql.Revoke
