[DEFAULT]
verbose = True
debug = True

auth_strategy = keystone

rpc_backend = rabbit
rabbit_hosts = {% for host in groups['message-broker'] %}{{ hostvars[host]['ansible_hostname'] }}:5672{% if not loop.last %},{% endif %}{% endfor %}

rabbit_password = {{ rabbitmq_cinder_password }}
rabbit_ha_queues = true

my_ip = {{ ansible_br_mgmt['ipv4']['address'] }}

glance_host = {{ yaodu_api_vip }}
glance_api_version = 2

volume_driver = cinder.volume.drivers.rbd.RBDDriver
rbd_pool = volumes
rbd_user = cinder
rbd_secret_uuid = {{ libvirt_secret_uuid }}

[database]
connection = mysql://cinder:{{ database_cinder_password }}@{{ yaodu_api_vip }}/cinder

[keystone_authtoken]
identity_uri = http://{{ yaodu_api_vip }}:35357
auth_uri = http://{{ yaodu_api_vip }}:5000/v2.0
admin_tenant_name = service
admin_user = cinder
admin_password = {{ keystone_cinder_password }}
