[DEFAULT]
verbose = True
debug = True

osapi_volume_listen = {{ ansible_br_mgmt['ipv4']['address'] }}

auth_strategy = keystone

rabbit_host = {{ yaodu_api_vip }}
rabbit_virtual_host = {{ rabbitmq_cinder_vhost }}
rabbit_userid = {{ rabbitmq_cinder_user }}
rabbit_password = {{ rabbitmq_cinder_password }}
rabbit_ha_queues = true

notification_driver = nova.openstack.common.notifier.rpc_notifier

my_ip = {{ ansible_br_mgmt['ipv4']['address'] }}

glance_host = {{ yaodu_api_vip }}
glance_api_version = 2

enable_v1_api=false
volume_name_template = %s

volume_driver = cinder.volume.drivers.rbd.RBDDriver
rbd_pool = volumes
rbd_user = cinder
rbd_secret_uuid = {{ libvirt_secret_uuid }}

[database]
connection = mysql://cinder:{{ database_cinder_password }}@{{ yaodu_api_vip }}/cinder

[keystone_authtoken]
identity_uri = http://{{ yaodu_api_vip }}:35357
auth_uri = http://{{ yaodu_api_vip }}:5000/v2.0
admin_tenant_name = service
admin_user = cinder
admin_password = {{ keystone_cinder_password }}
