Defaults:{{ container }} !requiretty
{{ container }} ALL = (root) NOPASSWD: /usr/local/bin/{{ container }}-rootwrap /etc/{{ container }}/rootwrap.conf *, /usr/sbin/ovs-vswitchd, /sbin/modprobe openvswitch
