[DEFAULT]
verbose = true
debug = true
log_file = /var/log/glance/glance-api.log
use_syslog = false

default_store = rbd
show_image_direct_url = True

registry_host = {{ yaodu_api_vip }}
cinder_catalog_info = volume:cinder:internalURL

rpc_backend = rabbit
rabbit_hosts = {% for host in groups['message-broker'] %}{{ hostvars[host]['ansible_hostname'] }}:5672{% if not loop.last %},{% endif %}{% endfor %}

rabbit_password = {{ rabbitmq_glance_password }}
rabbit_ha_queues = true

[glance_store]
stores = rbd
rbd_store_pool = images
rbd_store_user = glance
rbd_store_ceph_conf = /etc/ceph/ceph.conf
rbd_store_chunk_size = 8

[database]
connection = mysql://glance:password@{{ yaodu_api_vip }}/glance

[keystone_authtoken]
identity_uri = http://{{ yaodu_api_vip }}:35357
auth_uri = http://{{ yaodu_api_vip }}:5000/v2.0
admin_tenant_name = service
admin_user = glance
admin_password = {{ keystone_glance_password }}

[paste_deploy]
flavor = keystone
