[DEFAULT]
verbose = true
debug = true

bind_host = {{ ansible_br_mgmt['ipv4']['address'] }}

rabbit_hosts = {% for host in groups['message-broker'] %}{{ hostvars[host]['ansible_hostname'] }}:5672{% if not loop.last %},{% endif %}{% endfor %}

rabbit_virtual_host = {{ rabbitmq_glance_vhost }}
rabbit_userid = {{ rabbitmq_glance_user }}
rabbit_password = {{ rabbitmq_glance_password }}
rabbit_ha_queues = true

notification_driver = nova.openstack.common.notifier.rpc_notifier

default_store = rbd
show_image_direct_url = True

registry_host = {{ yaodu_api_vip }}

[glance_store]
stores = rbd
rbd_store_pool = images
rbd_store_user = glance
rbd_store_ceph_conf = /etc/ceph/ceph.conf
rbd_store_chunk_size = 8

[database]
connection = mysql://glance:password@{{ yaodu_api_vip }}/glance

[keystone_authtoken]
identity_uri = http://{{ yaodu_api_vip }}:35357
auth_uri = http://{{ yaodu_api_vip }}:5000/v2.0
admin_tenant_name = service
admin_user = glance
admin_password = {{ keystone_glance_password }}

[paste_deploy]
flavor = keystone
